# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
patrol/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (VERY IMPORTANT)
artifacts/*.csv
data/*.csv

# ML models (if large)
#*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Streamlit cache
.streamlit/

data/
mlflow_tracking/
artifacts/*.csv